alias l='exa'
alias lt='exa -lT --git --git-ignore -L 3 -D'
alias ll='exa -l'
alias llg='exa -l --git --git-ignore'

{{- if eq .usage "work" }}
alias sc-token-jansdev="sc-token 0-0177bc5cad9-000-0a6c161d"
alias sc-token-janstaging="hs-token 13630494"
{{- end }}