hash -d repo=~/Repositories

{{- if eq .usage "work" }}
hash -d hootsuite=~/Repositories/hootsuite
hash -d deployments=~/Repositories/deployments
hash -d sparkcentral=~/Repositories/sparkcentral
{{- end }}