[user]
    name = Jan Sabbe
    email = "648689+jansabbe@users.noreply.github.com"
    signingkey = {{ onepasswordRead "op://private/Github Signing Key/public key" | trim }} 

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true
