[user]
    name = Jan Sabbe
    email = "648689+jansabbe@users.noreply.github.com"
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICk/Y66F8krkEFUGFnz/WUE5F/E/nfC22DiKT58APVl9

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true
